nav
{
    width: 100%;
    padding: 10px;
    /* background-color: chocolate; */
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
}

.opcontainer
{
    max-width: 1300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 10px;
    background-color: grey;
}
.opcontainer h1
{
    font-size: 40px;
    color: chartreuse;
}
.menu
{
    display: flex;
    list-style: none;
}
.menu li
{
    padding: 0 13px;
    border-radius: 100px;
}
.menu li a
{
    text-transform: capitalize;
    font-size: x-large;
    color: darkblue;
}
.menu li:hover
{
    transition: 1.3s;
    background-color: aqua;
    border-radius: 50%;
}

@media(max-width:600px)
{
    .menu
    {
        position: absolute;
        top: 70px;
        flex-direction: column;
        left: -100%;
        width: 50%;
        transition: 1s all ease;
    }
}